* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    background: #f4f3f3;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}
.navbar {
    background-color: #fff;
}
.navbar-brand {
    font-family: 'Cabin', sans-serif;
}
.navbar-brand:hover {
    opacity: 0.7;
}
.my-confirmed {
    color: rgb(210, 0, 0);
}
.my-hover-confirmed {
    transition: all 0.3s ease;
    background: rgba(255, 7, 58, 0.125);
}
.my-hover-confirmed:hover {
    transition: all 0.3s ease;
    background: rgba(255, 7, 58, 0.225);
}
.my-active {
    color: rgb(0, 90, 255);
}
.my-hover-active {
    transition: all 0.3s ease;
    background: rgba(0, 123, 255, .125);
}
.my-hover-active:hover {
    transition: all 0.3s ease;
    background: rgba(0, 123, 255, .225);
}
.my-recovered {
    color: rgb(40, 121, 60);
}
.my-hover-recovered {
    transition: all 0.3s ease;
    background: rgba(40, 167, 69, 0.125);
}
.my-hover-recovered:hover {
    transition: all 0.3s ease;
    background: rgba(40, 167, 69, 0.225);
}
.my-deceased {
    color: rgba(98, 107, 105, 1);
}
.my-hover-deceased {
    transition: all 0.3s ease;
    background: rgba(108, 117, 125, 0.125);
}
.my-hover-deceased:hover {
    transition: all 0.3s ease;
    background: rgba(108, 117, 125, 0.225);
}
.mainHeading {
    font-family: 'Cabin', sans-serif;
    font-size: 25px;
    font-weight: 100;
    color: rgba(0, 0, 0, 1);
    text-shadow: 1px 1px 2px #dfdfdf;
}

.mainHeading:hover {
    color: rgba(80, 80, 80, 0.3);
    transition: ease 0.5s;
}

.mainHeading:hover {
    cursor: pointer;
}
svg.active{
    fill: rgba(0, 123, 255, 0.6);
}
svg.confirmed{
    fill: rgba(255, 7, 58, 0.6);
}
svg.recovered{
    fill: rgba(40, 167, 69, 0.6);
}
svg.deceased{
    fill: rgba(108, 117, 125, 0.6);
}
.my-around {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#searchBox {
    font-family: 'Varela Round', sans-serif;
}

#searchBtn {
    font-family: 'Varela Round', sans-serif;
}
#searchBtn:hover {
    transition-duration: 0.2s;
}
.cityName {
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    text-shadow: 1px 1px 2px #dfdfdf;
}
.cardHeads {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
.cardNumber {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.my-cards {
    min-height: 50vmin;
}
.my-border {
    border-radius: 10px;
}
#status {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0.8;
}
#previous {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}