{% extends 'base.html' %}

{% block head %}

COVID-19.Status

{% endblock %}


{% block body %}
<header class="topnav">
    <nav>
        <h1 class="mainHeading">COVID-19 status Maharashtra</h1>
    </nav>
    <div>
        <form method="POST">
            <input id="searchBox" placeholder="Search.." name="text">
            <button id="searchBtn" type="submit">Go</button>
        </form>
    </div>
</header>

<h1 class="cityName">{{city}}</h1>
<div class="mainTable">
    <div class="column">
        <div class="card">
            <div class="headsContainer">
                <p id="cardHeads">Active</p>
                <p id="cardNumber">{{active}}</p>
                {% if aStatus < 0: %}
                    <p id="previous" style="color: #7cbd1e;">Decreased by:</p>
                    <p id="status">{{aStatus}}</p>
                {% elif aStatus > 0 %}
                    <p id="previous" style="color: #c00000;">Increased by:</p>
                    <p id="status">{{aStatus}}</p>
                {% else %}
                    <p id="status">{{aStatus}}</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="headsContainer">
                <p id="cardHeads">Confirmed</p>
                <p id="cardNumber">{{confirmed}}</p>
                {% if cStatus < 0: %}
                    <p id="previous" style="color: #7cbd1e;">Decreased by:</p>
                    <p id="status">{{cStatus}}</p>
                {% elif cStatus > 0 %}
                    <p id="previous" style="color: #c00000;">Increased by:</p>
                    <p id="status">{{cStatus}}</p>
                {% else %}
                    <p id="status">{{cStatus}}</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="headsContainer">
                <p id="cardHeads">Deceased</p>
                <p id="cardNumber">{{deceased}}</p>
                {% if dStatus < 0: %}
                    <p id="previous" style="color: #7cbd1e;">Decreased by:</p>
                    <p id="status">{{dStatus}}</p>
                {% elif dStatus > 0 %}
                    <p id="previous" style="color: #c00000;">Increased by:</p>
                    <p id="status">{{dStatus}}</p>
                {% else %}
                    <p id="status">{{dStatus}}</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="headsContainer">
                <p id="cardHeads">Recovered</p>
                <p id="cardNumber">{{recovered}}</p>
                {% if rStatus < 0: %}
                    <p id="previous" style="color: #7cbd1e;">Decreased by:</p>
                    <p id="status">{{rStatus}}</p>
                {% elif rStatus > 0 %}
                    <p id="previous" style="color: #c00000;">Increased by:</p>
                    <p id="status">{{rStatus}}</p>
                {% else %}
                    <p id="status">{{rStatus}}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}